


hr{
  height: 2px;
  color:#0000;
  opacity: 100;
  
}
body {
    padding-top: 10px;
    text-align: center;  
}

header{
  margin-top: 10%;
}
.headerimg{
  text-align: center;
}
.subheading{
  text-align: center;
  color:coral
}

.btn1{
  border-radius: 45%;
  background-color:skyblue
}

.neg {
  border-radius: 100%;
  position: relative;
  border-style: solid;
  width:2em;
  background-color: #0000;
}

.pos {
  border-radius: 100%;
  border-style: solid;
  background-color: #0000;
  position: relative;
  width:2em;
}

#order-btn{
  background-color: skyblue;
  border-radius: 50px;

}

#clear-btn{
  background-color: lightgray;
  border-radius: 50px;
  
}

.ninput{
  border-style: none;
  text-align: center;
}

.prices{
  border-style: none;

}

#subtotal{
  border-style: none;
}